**/.DS_Store
.git
build
yarn.lock
package-lock.json
**/node_modules/

# Local Netlify folder
.netlify

# Local VSCode config
.vscode

# disable webpack config until DONE
webpack.*
src/index.html
.babelrc
