@import 'styles/variables.scss';

.WalletAssetRow-container {
  display: flex;
  flex-direction: row;
  height: 70px;
  background: $purple-8;
  box-shadow: 0px 4px 18px $purple-7-a30;
  border-radius: 7px;
  margin: 5px 0px;
}

.WalletAssetRow-column-asset {
  padding-left: 45px;
  width: 15%;
}

.WalletAssetRow-column-supply-balance {
  width: 17%;
  text-align: center;
}

.WalletAssetRow-column-borrow-balance {
  width: 17%;
  text-align: center;
}

.WalletAssetRow-column-wallet-balance {
  width: 17%;
  text-align: center;
}

.WalletAssetRow-column-price {
  width: 17%;
  text-align: center;
}

.WalletAssetRow-column-value {
  padding-right: 60px;
  width: 17%;
  text-align: center;
}

.WalletAssetRow-cell {
  display: flex;
  flex-direction: row;
}

.WalletAssetRow-asset-icon {
  width: 30px;
  height: 30px;
  margin: 20px 0px;
}

.WalletAssetRow-asset-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 70px;
  letter-spacing: 0.1em;
  color: $blue-3;
  margin-left: 20px;
}

.WalletAssetRow-number {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 70px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
