@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.AccountTotal-container {
  display: flex;
  flex-direction: row;
  height: 150px;
}

.AccountTotal-cell {
  flex-grow: 1;
  position: relative;
}

.AccountTotal-cell-label {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  position: absolute;
  top: 15px;
  left: 24px;
  line-height: 27px;
}

.AccountTotal-cell-number {
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  right: 40px;
  bottom: 15px;
  line-height: 60px;
}

.AccountTotal-divider {
  width: 2px;
  background-color: #E5E5E5;
}
