@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.Wallet-container {
  margin-top: 80px;
  /* background-color: #2D3988; */
  padding: 60px 0px;

  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.Wallet-container::after {
  content: '';
  width: 120%;
  position: absolute;
  left: -10%;
  top: 0;
  border-radius: 0 0 50% 50%;
  background-color: #2D3988;
}

.Wallet-asset-summary {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8797FF;
  margin: 50px 0px;
  text-align: center;
}

.Wallet-asset-table {
  margin-top: 30px;
  width: 1400px;
  margin: 0px auto;
}

.Wallet-asset-table-header {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.Wallet-asset-table-header-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 50px;
  color: #7D7E8C;
}

.Wallet-asset-header-margin {
  margin-left: 40px;
}
