.WalletAssetRow-container {
  display: flex;
  flex-direction: row;
  height: 80px;
  background: #182048;
  box-shadow: 0px 4px 18px rgba(23, 34, 96, 0.3);
  border-radius: 7px;
  margin: 5px 0px;
}

.WalletAssetRow-column-asset {
  padding-left: 45px;
  width: 15%;
}

.WalletAssetRow-column-supply-balance {
  width: 17%;
  text-align: center;
}

.WalletAssetRow-column-borrow-balance {
  width: 17%;
  text-align: center;
}

.WalletAssetRow-column-wallet-balance {
  width: 17%;
  text-align: center;
}

.WalletAssetRow-column-price {
  width: 17%;
  text-align: center;
}

.WalletAssetRow-column-value {
  padding-right: 60px;
  width: 17%;
  text-align: center;
}

.WalletAssetRow-cell {
  display: flex;
  flex-direction: row;
}

.WalletAssetRow-asset-icon {
  width: 30px;
  height: 30px;
  margin: 25px 0px;
}

.WalletAssetRow-asset-text {
  font-family: Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-left: 20px;
}

.WalletAssetRow-number {
  font-family: Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
