@import 'styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.hint {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.1em;
  color: $blue-2;
  margin: 100px auto;
}
