$primary-color: #3856f1;
$secondary-color: rgb(37, 228, 240);
$secondary-color-a90: rgba(37, 228, 240, 0.9);
$secondary-color-a80: rgba(37, 228, 240, 0.8);

$purple-0: #8797ff;
$purple-1: #2f3fa4;
$purple-2: #2d3988;
$purple-3: #28337a;
$purple-4: #27358d;
$purple-5: #212a5f;
$purple-6: #676fa8;

$purple-7: rgb(23, 34, 96);
$purple-7-a30: rgba(23, 34, 96, 0.3);
$purple-8: #182048;

$blue-1: #56b8ef;
$blue-2: #18d5ef;
$blue-3: #37bcec;
$blue-4: #4fe6ff;
$blue-5: #8cd6ff;

$orange-1: #e88c20;

$black-a10: rgba(0, 0, 0, 0.1);
