@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.AccountSelectorNew-container {
  position: relative;
  min-width: 250px;
  width: 250px;
  height: 50px;
  margin: 13px 0px;
}

.DropdownNew-base-container {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 8px 40px $primary-color;
  outline: none;
  border-width: 0px;
  background-color: $secondary-color-a90;
  @include buttonStates($secondary-color);
}

.DropdownNew-name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.DropdownNew-options-container {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 666;
  width: 250px;
  border-radius: 25px;
  border-color: $secondary-color-a90;
}

.DropdownNew-options-container:hover {
  cursor: pointer;
}

.DropdownNew-option-row {
  width: 250px;
  height: 50px;
  background-color: $secondary-color-a90;
}

.name-selected {
  font-weight: 800 !important;
  color: white !important;
}
