.Market-table-row {
  display: flex;
  flex-direction: row;
  height: 70px;
  cursor: pointer;
}

.Market-table-cell {
  display: flex;
  flex-direction: row;
}

.Market-asset-icon {
  width: 50px;
  height: 50px;
  margin: 10px 20px 10px 0px;
}

.Market-table-cell-text {
  font-size: 16px;
  line-height: 70px;
}

.BorrowMarket-asset-column {
  width: 35%;
}
.BorrowMarket-apy-column {
  width: 25%;
}
.BorrowMarket-wallet-column {
  width: 28%;
}
.BorrowMarket-liquidity-column {
  width: 12%;
}
