.MarketLists-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.Market-container {
  width: 49%;
  background-color: white;
  padding: 15px 30px;
  border-radius: 6px;
}

.MarketLists-middle-padding {
  width: 2%;
  min-width: 20px;
}

.Market-title {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 35px;
  font-style: normal;
}

.Market-table-header {
  display: flex;
  flex-direction: row;
  height: 35px;
}

.Market-table-header-text {
  color: #657786;
  line-height: 35px;
}
