@import 'styles/variables.scss';

.InvitationDialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.InvitationDialog-hint {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.1em;
  color: $blue-2;
  margin: 100px auto;
}

.InvitationDialog-form {
  display: flex;
  flex-direction: row;
  height: 75px;
}

.InvitationDialog-input {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 8px 40px $primary-color;
  border: none;
  outline: none;
  width: 340px;
  text-align: center;

  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}

.InvitationDialog-input::placeholder {
  color: #b9b9b9;
}

.InvitationDialog-activate {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
  height: 75px;
  width: 240px;
  background-color: $secondary-color-a90;
  box-shadow: 0px 8px 40px $primary-color;
  border-radius: 40px;
  border: none;
  outline: none;
  margin-left: 40px;
  z-index: 1;
}
