.MarketLists-container {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  width: 1400px;
  position: relative;
  /* z-index: 100; */
}

.Market-container {
  width: 47%;
  padding: 40px 50px 60px 50px;
  background-color: #28337A;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.MarketLists-middle-padding {
  width: 6%;
  min-width: 20px;
}

.Market-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 72px;
  letter-spacing: 0.02em;

  color: #DDDCDC;
  margin: 0 0 0.7em;
}

.Market-table-header {
  display: flex;
  flex-direction: row;
  height: 35px;
}

.Market-table-header-text {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 35px;
  color: #CECECE;
}
