@import 'styles/variables.scss';

.MarketLists-container {
  display: flex;
  flex-direction: row;
  margin: 40px 24px;
  width: 100%;
  position: relative;
  /* z-index: 100; */
}

.Market-container {
  width: 45%;
  padding: 40px 50px 60px 50px;
  background-color: $purple-3;
  box-shadow: 4px 4px 30px $black-a10;
  border-radius: 8px;
}

.MarketLists-middle-padding {
  width: 6%;
  min-width: 20px;
}

.Market-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 72px;
  letter-spacing: 0.02em;

  color: #dddcdc;
  margin: 0 0 0.7em;
}

.Market-table-header {
  display: flex;
  flex-direction: row;
  height: 35px;
}

.Market-table-header-text {
  text-align: center;
  font-weight: 600;
  font-size: 19px;
  line-height: 35px;
  color: #cecece;
}
