@import 'styles/mixins.scss';

.Market-table-row {
  display: flex;
  flex-direction: row;
  height: 80px;

  background: #182048;
  box-shadow: 0px 4px 18px rgba(23, 34, 96, 0.3);
  border-radius: 7px;
  margin: 8px 0px;

  @include buttonStates(#182048);
}

.Market-table-cell {
  display: flex;
  flex-direction: row;
}

.Market-asset-icon {
  width: 30px;
  height: 30px;
  margin: 25px 17px 25px 30px;
}

.Market-table-cell-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}

.Market-table-asset-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 80px;
  letter-spacing: 0.1em;
  color: #37bcec;
}

.SupplyMarket-asset-column {
  width: 40%;
}
.SupplyMarket-apy-column {
  width: 30%;
}
.SupplyMarket-wallet-column {
  width: 30%;
}
