.Dropdown-base-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 30px;
  border-style: solid;
  border-radius: 15px;
  border-color: #3650FA;
  border-width: 2px;
}

.Dropdown-left {
  width: 120px;
  background-color: white;
}

.Dropdown-right {
  width: 180px;
  background-color: #3650FA;
}

.Dropdown-options-container {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 666;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-radius: 15px;
  border-color: #3650FA;
  border-width: 2px;
}

.AccountSelector-container {
  position: relative;
  min-width: 300px;
  width: 300px;
  height: 30px;
  margin: 10px 0px;
}
