.App-summary {
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-summary-balance {
  width: 200px;
  text-align: center;
  padding-top: 45px;
}

.App-summary-middle {
  width: 20%;
}

.App-summary-supply-balance-text {
  color: #00d395;
}

.App-summary-borrow-balance-text {
  margin-top: 50px;
  font-weight: bold;
  color: #9669ed;
}

.App-summary-balance-number {
  margin-top: 10px;
  color: white;
  font-size: 30px;
}

.App-borrow-limit {
  height: 50px;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.App-borrow-limit-text {
  width: 120px;
  min-width: 90px;
  color: #657786;
  vertical-align: middle;
  line-height: 50px;
}

.App-borrow-limit-percentage {
  color: white;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.App-borrow-limit-usd {
  color: #657786;
  line-height: 50px;
  padding-left: 10px;
  white-space: nowrap;
}

.App-borrow-limit-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.App-borrow-limit-bar-white {
  width: 55%;
  height: 2px;
  background-color: white;
  margin-top: 24px;
  margin-bottom: 24px;
}

.App-borrow-limit-bar-grey {
  width: 45%;
  height: 2px;
  background-color: #657786;
  margin-top: 24px;
  margin-bottom: 24px;
}
