@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.App-container {
  /* background-color: #2F3FA4; */
  background-image: linear-gradient(#2F3FA4, #2F3FA4, #2D3988, #2D3988);
  /* display: flex; */
  /* justify-content: center; */
  /* min-width: 100vw; */
  min-height: 100vh;
  /* min-width: 1100px; */
  /* min-height: 900px; */
  /* overflow-x: auto; */
}

.App-content-container {
  /* width: 70vw; */
  /* display: flex; */
  /* justify-content: center; */
  min-width: 1100px;
  /* height: 100vh; */
  position: relative;
}

.App-header {
  height: 126px;
  position: relative;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  padding: 25px 0px;
  display: flex;
  flex-direction: row;
}

.App-header-logo {
  margin-left: 35px;
  margin-right: 8vw;
}

.App-header-middle {
  width: 100%;
}

.App-header-arrow {
  width: 30px;
  height: 30px;
  margin: 23px 0px 23px 15px;
}

.App-watermark {
  position: absolute;
  top: 126px;
  right: 0px;
  width: 569px;
  height: 897px;
}

.App-watermark-image {
  width: 569px;
  height: 897px;
}