.Market-table-row {
  display: flex;
  flex-direction: row;
  height: 70px;
  cursor: pointer;
}

.Market-table-cell {
  display: flex;
  flex-direction: row;
}

.Market-asset-icon {
  width: 50px;
  height: 50px;
  margin: 10px 20px 10px 0px;
}

.Market-table-cell-text {
  font-size: 16px;
  line-height: 70px;
}

.SupplyMarket-asset-column {
  /* width: 45%; */
  width: 50%;
}
.SupplyMarket-apy-column {
  /* width: 20%; */
  width: 25%;
}
.SupplyMarket-wallet-column {
  /* width: 20%; */
  width: 25%;
}
/* .SupplyMarket-collateral-column {
  width: 15%;
} */



.SupplyMarket-table-cell-slider {
  margin-top: 25px;
}
