@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;800;900&display=swap');

.TabBar-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 18px 0px;
}

.TabBar-item-container {
  margin: 0px 35px;
  height: 40px;
}

.TabBar-item-container:hover {
  cursor: pointer;
}

.TabBar-item {
  display: flex;
  flex-direction: row;
  height: 36px;
}

.TabBar-item-label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: white;
}

.TabBar-item-label-active {
  font-weight: 700;
  color: #56B8EF;
}

.TabBar-marker {
  margin: 0px 0px;
  height: 4px;
}

.TabBar-item-marker-active {
  background-color: #56B8EF;
}
