@import 'styles/mixins.scss';

.FaucetButton {
  width: 28px;
  height: 22px;
  margin: 27px 35px 27px 15px;
  border: none;
  background-color: transparent;
  position: relative;

  color: white;

  @include svgStates(white);
}
